doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title yellr frontpage
    meta(name="description", content="yellr frontpage")
    include _head.jade

  body
    a(href="#main").show-for-sr Skip to main content
    .container
      header.global-header
        .row
          .columns
            h1 Yellr Frontpage
            p Contribute to your community

      main#main
        .row
          .columns
            h2 About Yellr
            p Yellr is a suite of software designed to help the community communicate with their local media outlets.

        .row
          .columns.medium-5
            h2 Posts
            ul.no-bullet
              li
                div#1eaf645f-99ed-4ea0-ba2c-2c0be5faf09b(
                  data-post-id="1eaf645f-99ed-4ea0-ba2c-2c0be5faf09b",
                  data-language-code="en",
                  data-assignment="null")
                  h3 This is a test post!
                  p Response to:
                    span#assignment
                  p Posted:
                    span#creation-datetime 2015-10-24 03:45:16
                  .karma
                    p Down Count:
                      span#down-count 0
                    p Up Count:
                      span#up-count 0
                //- video, audio, picture
            p "media_objects": [],

          .columns.medium-4
            h2 Assignments
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .columns.medium-3
            h2 Contribute
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      footer.global-footer
        .row
          .columns
            p yellr - hhroc - 2015

    include _scripts.jade
