// media queries
@mixin mq($breakpoint)
{
  @if $breakpoint == mobile
  {@media only screen and (min-width: 320px){@content; } }

  @else if $breakpoint == tablet
  {@media only screen and (min-width: 480px) {@content; } }

  @else if $breakpoint == netbook
  {@media only screen and (min-width: 768px) {@content; } }

  @else if $breakpoint == desktop
  {@media only screen and (min-width: 1024px) {@content; } }

  @else if $breakpoint == xl
  {@media only screen and (min-width: 1200px) {@content; } }
}

// this
@mixin if_there_are($n) {
  &:nth-last-child(n+#{$n}),
  &:nth-last-child(n+#{$n}) ~ * {
    @content;
  }
}


// css circle
@mixin circle($size, $color, $alignment:middle) {
  display: inline-block;
  vertical-align: $alignment;
  height: $size;
  width: $size;
  border-radius: $size;
  background: $color;
}
