.main {
    @extend .small-11;
    @extend .columns;

    padding: 0;
    background-color: $background-accent;
    height: 100%;
    overflow: auto;
}

.loading-cover {
    width: 100%;
    height: 100%;
    background-color: $primary;
    position: fixed;
}
