$primary:           #FFCF13;
$secondary:         #1abc9c;

$button:            #007095;
$button-text:       #FFFFFF;

$type:              #333333;
$type-light:        #555555;

$background-accent: #EEEEEE;
$background:        #FFFFFF;

$warn:              #FF6347;
$info:              #2980b9;

$primary-font: 'Arial';
