.white          { color: $white; }
.ghost          { color: $ghost; }
.snow           { color: $snow; }
.vapor          { color: $vapor; }
.white-smoke    { color: $white; }
.silver         { color: $silver; }
.smoke          { color: $smoke; }
.gainsboro      { color: $gainsboro; }
.iron           { color: $iron; }
.base           { color: $base; }
.aluminum       { color: $aluminum; }
.jumbo          { color: $jumbo; }
.monsoon        { color: $monsoon; }
.steel          { color: $steel; }
.charcoal       { color: $charcoal; }
.tuatara        { color: $tuatara; }
.oil            { color: $oil; }
.jet            { color: $jet; }
.black          { color: $black; }

.white-bg       { background-color: $white; }
.ghost-bg       { background-color: $ghost; }
.snow-bg        { background-color: $snow; }
.vapor-bg       { background-color: $vapor; }
.white-smoke-bg { background-color: $white; }
.silver-bg      { background-color: $silver; }
.smoke-bg       { background-color: $smoke; }
.gainsboro-bg   { background-color: $gainsboro; }
.iron-bg        { background-color: $iron; }
.base-bg        { background-color: $base; }
.aluminum-bg    { background-color: $aluminum; }
.jumbo-bg       { background-color: $jumbo; }
.monsoon-bg     { background-color: $monsoon; }
.steel-bg       { background-color: $steel; }
.charcoal-bg    { background-color: $charcoal; }
.tuatara-bg     { background-color: $tuatara; }
.oil-bg         { background-color: $oil; }
.jet-bg         { background-color: $jet; }
.black-bg       { background-color: $black; }


.red            { color: $red; }
.red-bg         { background-color: $red; }
.yellow         { color: $yellow; }
.yellow-bg      { background-color: $yellow; }
