.white      {color: $white !important; }
.black      {color: $black !important; }
.grey       {color: $grey !important; }
.red        {color: $red !important; }

.white-bg   {background-color: $white !important; }
.black-bg   {background-color: $black !important; }
.grey-bg    {background-color: $grey !important; }
.red-bg     {background-color: $red !important; }
