$row-width: 100%;

html, body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: $primary;
}

.page {
    height: 100%;
}

@mixin primary-btn() {
    padding: .55rem 0;
    border-radius: 5px;
    max-width: 10rem;
    display: block;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;

    &:hover {
        text-decoration: none;
        color: $type;
    }

    &:visited {
        text-decoration: none;
        color: $type;
    }

    &:focus {
        text-decoration: none;
        outline: none;
    }
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
