.posts {
    @extend .small-10;
    @extend .columns;
}

.post-button {
    @include transition(all, 0.2s, ease-in-out);

    color: $type;
    background: $background;
    font-size: 15px;

    margin-bottom: 20px;
    padding: 5px 10px;

    border: solid 3px darken($background-accent, 30);
    border-radius: 3px;
}

.f-dropdown:before {
    top: -11px;
}

.assignment-response-border {
    border: 2px solid purple;
}

.free-post-border {
    border: 2px solid red;
}

.inner-post {
    background-color: $background;
    border-radius: 5px;
    margin: 10px 0;

    .post-image {
        height: 100px;
        background-width: 100%;
        margin: 0;
        border-radius: 5px 5px 0 0;
    }

    .full-image {
        height: 200px;
        background-width: 100%;
        margin: 0;
        border-radius: 5px 5px 0 0;
    }

    .post-image-blank {
        background-color: $primary;

        h2 {
            font-weight: bold;
            position: relative;
            top: 30px;
            text-align: center;
        }
    }

    .post-body {
        margin: 10px 20px;

        .post-header {
            color: $type-light;
            font-size: 25px;
            margin: 0;
        }

        .approve-post {
            @extend .post-button;

            float: right !important;
            margin-top: 2px;

            &:hover {
                background-color: lighten($primary, 20);
                border-color: $primary;
                cursor: pointer;
                color: $background;
            }
        }

        .approve-post-active {
            background-color: lighten($primary, 20);
            border-color: $primary;
            cursor: pointer;
            color: $background;
        }

        .add-post {
            @extend .post-button;

            float: right !important;
            margin-top: 2px;
            margin-right: 5px;

            &:hover {
                background-color: lighten($secondary, 20);
                border-color: $secondary;
                cursor: pointer;
            }
        }

        .add-post-dropdown {
            padding: 0;

            li {
                padding: 10px;
                width: 100%;
                text-align: center;
            }
        }

        .delete-post {
            @extend .post-button;

            float: right;
            margin-top: 2px;
            margin-right: 5px;

            &:hover {
                background-color: lighten($warn, 20);
                border-color: $warn;
                cursor: pointer;
            }
        }

        .view-post {
            @extend .post-button;

            text-decoration: none;
            font-weight: bold;

            display: inline-block;

            &:hover {
                background-color: lighten($primary, 40);
                border-color: $primary;
                cursor: pointer;
            }
        }

        .post-text {
            margin: 15px 10px 15px 10px;
            word-wrap: break-word;
            font-weight: bold;
        }

        .post-time {
            margin: 5px 0;
            color: $type-light;
            font-size: 12px;
        }
    }
}

.post-column {
    float: left !important;
    width: 400px;
}

