<div class="assignment-page">
  <h3>Create Geofence</h3>
  <p id="geofence-info">
    Scroll to the area on the map where Yellr users should see
    your assignment.  Click the 'Draw Fence' butotn, and then 
    select the fenced area.  Only users within the fence will
    see your assignment.  If you are not happy with your selection,
    just click the 'Draw Fence' button again.
  </p>
  <button id="geo-fence-button">Draw Fence</button>

  <div style="width: 100%; height: 500px" id="set-geofence-map"></div>
</div>
