.leaflet-draw-draw-polyline,
.leaflet-draw-draw-polygon,
.leaflet-draw-draw-circle,
.leaflet-draw-draw-marker {
    display: none !important;
}

#geofence-info {
    padding: 10px;
    border: 1px solid #888888;
    background-color: #f8f8f8;
}
