.question-form {
    border-bottom: solid 1px darken($background-accent, 10);
    margin-bottom: 20px;
}

.add-question {
    @include primary-btn();

    margin: 0;
    padding: .55rem 1rem;
    width: auto;

    border: solid 1px darken($background-accent, 10);
    color: $type;
    background-color: $background;

    &:focus {
        color: $type;
        background-color: $background;
    }

    &:hover {
        background-color: $primary;
    }
}

.add-choice {
    @include primary-btn();

    margin: 20px 0;
    padding: .55rem 1rem;
    width: auto;

    border: solid 1px darken($background-accent, 10);
    color: $type;
    background-color: $background;

    &:focus {
        color: $type;
        background-color: $background;
    }

    &:hover {
        background-color: $primary;
    }
}

.question-choice {
    margin-left: 50px;
}
