.assignment-content {
    @extend .small-9;
    @extend .columns;

    height: 100%;
}

.assignment-nav {
    @extend .small-3;
    @extend .columns;

    height: 100%;
    padding: 0;

    background-color: $background;

    ul {
        list-style: none;
        margin-top: 50px;
        padding: 0;

        li {
            @include transition(background-color, 0.2s, ease-in-out);

            font-size: 20px;
            padding: 20px 10px;

            .nav-label {
                margin: 0;
                font-size: 10px;
                color: $type-light;
            }

            .nav-link {
                color: $type;
                text-decoration: none;
                font-weight: bold;
            }

            &:hover {
                background-color: $primary;
            }
        }
    }
}
