.assignment-content {
    @extend .small-9;
    @extend .columns;

    height: 100%;
    overflow: auto;
}

.assignment-nav {
    @extend .small-3;
    @extend .columns;

    height: 100%;
    padding: 0;

    background-color: $background;

    ul {
        list-style: none;
        margin-top: 50px;
        padding: 0;

        li {
            @include transition(background-color, 0.2s, ease-in-out);

            font-size: 20px;
            padding: 20px 10px;

            .nav-label {
                margin: 0;
                font-size: 10px;
                color: $type-light;
            }

            .nav-link {
                color: $type;
                text-decoration: none;
                font-weight: bold;
            }

            &:hover {
                background-color: $primary;
            }
        }
    }
}

.notification {
    position: fixed;
    padding: 20px 0;
    background-color: $secondary;
    color: $background;
    top: -65px;
    width: inherit;
    text-align: center;
    font-weight: bold;
}

.active-notification {
    @include transition(top, 0.2s, ease-in-out);
    top: 0px;
}

.inactive-notification {
    @include transition(top, 0.2s, ease-in-out);
    top: -65px;
}

.expire-datepicker {

    table {
        width: 100%;
    }

    .btn-sm {
        padding: 25px 35px;
        border: 1px solid #EEE;
        font-size: 20px;

        &:active {
            border: none;
            background-color: $primary !important;
        }

        &:focus {
            outline: none;
        }
    }

    .btn-info {
        background-color: $background;
    }

    .text-info {
        color: $type;
    }
}
.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active,
.btn-info.active, .open>.dropdown-toggle.btn-info {
    background-color: $primary;
    color: $type;
}

.form-status {
    float: right;
    font-size: 33px;
}
