<h1 class="page-title">Local Posts</h1>
<div class="filter-controls">
    <div class="filter-control">
        <input type="text" ng-model="search" ng-model-options="{debounce: 5}" placeholder="Search for text">
    </div>
    <div class="filter-control">
        <select ng-options="option.type as option.name for option in responseTypes" ng-model="selectedType"></select>
    </div>
</div>

<div ng-include src="'assets/templates/posts.html'"></div>

<div class="tools-column">
    <div class="row">
        <div class="total">
            <p>Posts</p>
            <h4>{{posts.length}}</h4>
        </div>
        <div class="total">
            <p>Collections</p>
            <h4>{{collections.length}}</h4>
        </div>
        <h4 class="collections">Collections</h4>
    </div>
    <ul class="collections-list">
        <li class="collection-side-feed-item" ng-repeat="collection in collections">
            <a href="#/collections/{{collection.collection_id}}">{{collection.name}}</a>
            <span class="num-posts">{{collection.post_count}}</span>
        </li>
    </ul>
</div>
