<h1>Raw Feed</h1>
<div ng-include src="'assets/templates/posts.html'"></div>
<div class="tools-column">
    <div class="row">
        <div class="total">
            <p>Posts</p>
            <h4>{{posts.length}}</h4>
        </div>
        <div class="total">
            <p>Collections</p>
            <h4>{{collections.length}}</h4>
        </div>
    </div>
    <h4 class="collections">Collections</h4>
    <ul class="collections-list">
        <li ng-repeat="collection in collections">{{collection.name}} <span class="num-posts">{{collection.post_count}}</span></li>
    </ul>
</div>
