<h1>Raw Feed</h1>

<div class="posts">
    <div class="post-column" ng-repeat="post in posts">
        <div class="inner-post">
            <img src="http://placehold.it/300x100" alt=""/>
            <div class="post-body">
                <h4 class="post-header" ng-if="post.title">{{post.title}}</h4>
                <p class="post-description" ng-if="post.description">{{post.description}}</p>
                <p class="post-time"><i class="fa fa-clock-o"></i> {{post.time}}</p>
                <button class="delete-post"><i class="fa fa-trash"></i></button>
                <button class="add-post" dropdown-toggle="#drop-{{post.post_id}}"><i class="fa fa-plus"></i></button>
                <ul id="drop-{{post.post_id}}" class="f-dropdown add-post-dropdown">
                    <li ng-repeat="collection in collections" ng-click="addPostToCollection(post, collection)">{{collection.name}}</li>
                </ul>
                <a class="view-post" href="#/view/{{post.post_id}}">VIEW POST</a>
            </div>
        </div>
    </div>
</div>

<div class="tools-column">
    <div class="row">
        <div class="total">
            <p>Posts</p>
            <h4>{{posts.length}}</h4>
        </div>
        <div class="total">
            <p>Collections</p>
            <h4>{{collections.length}}</h4>
        </div>
    </div>
    <h4 class="collections">Collections</h4>
    <ul class="collections-list">
        <li ng-repeat="collection in collections">{{collection.name}} <span class="num-posts">{{collection.numPosts}}</span></li>
    </ul>
</div>
