<form no-validate ng-submit="save(assignment)">
    <div class="row">
        <input ng-model="assignment.name" type="text" class="main-input" placeholder="Assignment Name" required/>

        <label for="exp-datepicker">
            <h3>Expiration Date</h3>
        </label>
        <div id="exp-datepicker" class="expire-datepicker">
            <datepicker required ng-model="assignment.expireDate" format="format" min-date="minDate" class="well well-sm" required></datepicker>
        </div>
    </div>
    <input type="submit" class="save-button" value="Next"/>
</form>
