<form no-validate>
    <div class="row">
        <input ng-model="name" ng-required type="text" class="main-input" placeholder="Assignment Name"/>
        <label class="select-label">
            <h3>Select Language</h3>
            <br/>
            <select ng-model="language">
                <option>EN</option>
                <option>ES</option>
            </select>
        </label>
        <div class="expire-datepicker">
            <h3>Expiration Date</h3>
            <p>date {{dt}}</p>
            <datepicker ng-model="dt" min-date="minDate" class="well well-sm"></datepicker>
        </div>
    </div>
    <button class="save-button" ng-click="save()">Save</button>
</form>
