<form no-validate ng-submit="save(questions)">
    <div class="question-form assignment-page" ng-repeat="question in questions">
        <label>
            <h3>Question:</h3>
            <input ng-model="question.questionText" type="text" class="main-input" placeholder="Question Text" required/>
        </label>

        <label>
            <h3>Description:</h3>
            <textarea rows="5" ng-model="question.description"></textarea>
        </label>

        <label for="language" class="select-label">
            <h3>Select Language</h3>
        </label>

        <select id="language" ng-model="question.languageCode" required>
            <option value="">Choose Language</option>
            <option value="en">English</option>
            <option value="es">Español</option>
            <option value="fr">Français</option>
        </select>

        <div ng-if="assignment.question_type == 'poll'">
            <h4>Poll Answers</h4>
            <div class="question-choice">
                <input ng-model="question.answer0" type="text" placeholder="Question Answer A" required/>
            </div>
            <div class="question-choice">
                <input ng-model="question.answer1" type="text" placeholder="Question Answer B" required/>
            </div>
            <div class="question-choice">
                <input ng-model="question.answer2" type="text" placeholder="Question Answer C" />
            </div>
            <div class="question-choice">
                <input ng-model="question.answer3" type="text" placeholder="Question Answer D" />
            </div>
            <div class="question-choice">
                <input ng-model="question.answer4" type="text" placeholder="Question Answer E" />
            </div>
        </div>

        <button class="delete-question" ng-if="questions.length > 1" ng-click="deleteQuestion($index)">Delete Question</button>
    </div>
    <input type="submit" class="save-button" value="Next"/>
    <button class="add-question" ng-click="addQuestion(questions)">Add Question</button>
</form>
