<form no-validate ng-submit="save(questions)">
    <div class="question-form" ng-repeat="question in questions">
        <label>
            <h3>Question:</h3>
            <input ng-model="question.text" type="text" class="main-input" placeholder="Question Text" required/>
        </label>
        <label class="select-label">
            <h3>Select Question Type</h3>
            <select ng-model="question.type" required>
                <option value="">Select Question Type</option>
                <option value="1">Full Text</option>
                <option value="2">Multiple Choice</option>
            </select>
        </label>
        <div ng-if="question.type == 2">
            <h4>Choices</h4>
            <div class="question-choice" ng-repeat="choice in question.choices track by $index">
                <input ng-model="question.choices[$index]" type="text" placeholder="Question Choice" required/>
            </div>
            <button class="add-choice" ng-click="addChoice(question)">Add Choice</button>
        </div>
    </div>
    <input type="submit" class="save-button" value="Save"/>
    <button class="add-question" ng-click="addQuestion(questions)">Add Question</button>
</form>
