<div class="assignment-content">
    <h1>New Assignment</h1>
    <div ui-view></div>
</div>
<div class="assignment-nav">
    <ul>
        <li>
            <p class="nav-label">
                Initialize
            </p>
            <a class="nav-link" href="#/new-assignment/content">Create Assignment</a>
        </li>
        <li>
            <p class="nav-label">
                Build
            </p>
            <a class="nav-link" href="#/new-assignment/questions">Add Questions</a>
        </li>
        <li>
            <p class="nav-label">
                Locate
            </p>
            <a class="nav-link" href="#/new-assignment/geofence">GeoFence</a>
        </li>
    </ul>
</div>
