<div class="posts">
    <div ng-show="posts.length === 0">
        <h3>No Results</h3>
    </div>
    <div masonry load-images="false" masonry-options="{isFitWidth: true, gutter: 10, position: 'relative'}">
        <div class="post-column masonry-brick"
            ng-if="posts"
            ng-repeat="post in filteredPosts = (posts | filter:search | postType:selectedType)">
            <div class="inner-post">
                <div ng-if="post.imageUrl" ng-style="post.imageUrl" ng-class="post.description ? 'post-image' : 'full-image'"></div>
                <div ng-if="!post.imageUrl" class="post-image post-image-blank">
                    <h2>Yellr</h2>
                </div>
                <div class="post-body">
                    <h4 class="post-title" ng-if="post.title">{{post.title}}</h4>
                    <p class="post-text">{{post.contents}}</p>
                    <p class="post-assignment-name" ng-if="post.assignment_name">Assignment: <a href="#/assignments/{{post.assignment_id}}">{{post.assignment_name}}</a></p>
                    <p class="post-assignment-name" ng-if="!post.assignment_name">Free Post</p>
                    <p class="post-time"><i class="fa fa-clock-o"></i> {{post.time}}</p>
                    <button ng-class="{'approve-post-active': post.approved}" class="approve-post" title="Approve Post for Local Feed." ng-click="approvePost(post)"><i class="fa fa-star"></i></button>
                    <button class="delete-post" title="Delete Post." ng-click="deletePost(post)"><i class="fa fa-trash"></i></button>
                    <button class="view-post" ng-click="openPost(post.id)">VIEW POST</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="filteredPosts.length === 0">
        <h3>No Posts Found</h3>
    </div>
    <button ng-if="filteredPosts.length > 0 && feed" ng-click="loadMore()">Load More Posts</button>
</div>
