<div class="posts">
    <div masonry load-images="false" masonry-options="{isFitWidth: true, gutter: 10, position: 'relative'}">
        <div ng-show="!posts.length === 0">
            <h4>No posts yet.</h4>
        </div>
        <div ng-show="posts.length" class="post-column masonry-brick" ng-repeat="post in posts">
            <div ng-class="{'inner-post assignment-response-border': !(post.assignment_name == null), 'inner-post free-post-border': (post.assignment_name.length == null)}">
                <div ng-if="post.imageUrl" ng-style="post.imageUrl" ng-class="post.description ? 'post-image' : 'full-image'"></div>
                <div ng-if="!post.imageUrl" class="post-image post-image-blank">
                    <h2>Yellr</h2>
                </div>
                <div class="post-body">
                    <p class="post-assignment-name" ng-if="post.assignment_name">Assignment: {{post.assignment_name}}</p>
                    <p class="post-assignment-name" ng-if="!post.assignment_name">Free Post</p>
                    <h4 class="post-text" ng-if="post.text">{{post.text}}</h4>
                    <p class="post-time"><i class="fa fa-clock-o"></i> {{post.time}}</p>
                    <button class="delete-post"><i class="fa fa-trash"></i></button>
                    <button class="add-post" dropdown-toggle="#drop-{{post.post_id}}"><i class="fa fa-plus"></i></button>
                    <ul id="drop-{{post.post_id}}" class="f-dropdown add-post-dropdown">
                        <li ng-repeat="collection in collections" ng-click="addPostToCollection(post, collection)">{{collection.name}}</li>
                    </ul>
                    <a class="view-post" href="#/view/{{post.post_id}}">VIEW POST</a>
                </div>
            </div>
        </div>
    </div>
</div>

