<h1>View Assignments</h1>
<div class="assignments">
    <div class="assignment-block" ng-repeat="assignment in assignments">
        <div class="assignment-question" ng-repeat="question in assignment.questions">
            <h1><a href="#/assignments/{{assignment.assignment_id}}">{{question.question_text}}</a></h1>
            <p ng-if="question.question_type_id==1">Full Text Response</p>
            <p ng-if="question.question_type_id==2">Multiple Choice Response</p>
        </div>
    </div>
</div>
