<div class="main-editor-window">
    <h1>Create Story</h1>
    <select ng-model="article.collection" ng-options="collection.name for collection in collections" ng-change="getQuotes()">
        <option value="">Choose Collection</option>
    </select>
    <select ng-model="article.language" ng-options="language.name for language in languages track by language.code">
        <option value="">Choose Language</option>
    </select>
    <input class="article-name" type="text" ng-model="article.title" placeholder="Story Title"/>
    <div id="epiceditor" class="editor"></div>
    <tags-input ng-model="article.tags"></tags-input>
    <button ng-click="save()">Save</button>
</div>
<div class="tool-bar">
    <div class="images" ng-repeat="quote in quotes">
        <p>"{{quote.media_text}}" - Yellr User</p>
    </div>
</div>
